<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="LogsFile" value="${basedir}/Logs/${shortdate}.log"/>
	<variable name="ErrorLogsFile" value="${basedir}/Logs/${shortdate}-errors.log"/>
	<targets>
		<target xsi:type="File" name="main" fileName="${LogsFile}"
				layout="${longdate} ${uppercase:${level}} ${appdomain} ${message} ${exception:format=tostring}"
				maxArchiveFiles="30"
				/>
		<target xsi:type="File" name="errors" fileName="${ErrorLogsFile}"
				layout="${longdate} ${uppercase:${level}} ${appdomain} ${message} ${exception:format=tostring}"
				maxArchiveFiles="30"
				/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="main" />
		<logger name="*" minlevel="Error" writeTo="errors" />
	</rules>
</nlog>
